<%- include('./partials/head') %>
 <ul> <% persons.forEach(person => { %>
  
  <main>
    <article class="student-card">
      <picture><img src="<%= person.avatar %> " alt="student"></picture>
      <h3 class="kalam-regular"><%= person.name %> <%= person.prefix %> <%= person.surname%></h3>
    </article>
    <% }) %>
  </main>
  <%- include('./partials/foot') %>