<%- include('./partials/head') %>
  <main> <!-- De forEach loop hieronder laad de custom data in voor elk persoon -->
    <% persons.forEach(person=> {
      if (person.custom && person.custom != '') {
      try {
      person.custom = JSON.parse(person.custom)
      } catch (e) {
      console.error('Error parsing JSON:', e)
      person.custom = {}
      }
      } else {
      person.custom = {}
      } %>
      <article class="student-card">
        <picture> <img src="<%= person.avatar %>" alt="student"> </picture>
        <h3>
          <%= person.name %> <!-- Hier laad je dynamisch de naam, achternaam en tussenvoegsel in per persoon -->
            <%= person.prefix %>
              <%= person.surname%>
        </h3>
        <ul>
          <li>Leeftijd: <%= person.custom.leeftijd ? person.custom.leeftijd : 'N/A' %> <!-- elk persoons leeftijd word heir in gelade -->
          </li>
          <li>Geslacht: N/A</li>
          <li>
            <form method="POST" action="/detail/<%= person.id %>/SE-GL-emoji">
              <button type="submit" name="emoji" value="star-eyes">🤩</button>
              <% if (person.custom.emojis && person.custom.emojis.starEyes) { %>
                <%= person.custom.emojis.starEyes %> keer <% } else { %> 0 keer <% } %>
                      <button type="submit" name="emoji" value="glasses-eyes">😎</button>
                      <% if (person.custom.emojis && person.custom.emojis.glassesEyes) { %>
                        <%= person.custom.emojis.glassesEyes %> keer <% } else { %> 0 keer <% } %>
            </form> <!-- Custom emojis met counter-->
          </li>
        </ul>
      </article>
      <% }) %>

  </main>

  <%- include('./partials/foot') %>